body {
    background-color: violet;
}

.mainContainer {
    width: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.mainContainer h1 {
text-align: center;
color: black;
}

.mainContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 450px;
}